<strong>
    Olá, {{provider}}
</strong>
<p>
    Agendamento finalizado com sucesso! confira os dados abaixo!
</p>
<strong>Atendimento : {{date}}</strong><br>
<strong>Nome : {{user}}</strong><br>
<strong>Finalizado `as : {{canceled}}</strong><br>

<small>Operação finalizada coms sucesso, bom trabalho!</small>